<md-card>
	<table class="table table-hover table-responsive panel">    
    		<thead>
	   		<tr class="table" >
		  		<th ng-repeat="(key, val) in header" style="cursor:pointer;" class="text-center">
		  			<p ng-click="order(key)">{{val}}</p>
		 		</th>
		 		<th ng-show="newBuyOrder" class="text-center"><p>Amount To Order</p></th>
		  		<th ng-show="newBuyOrder" class="text-center"><p>Order</p></th>
         
	   		</tr>
    		</thead>

    		<tbody>
	   		<tr ng-repeat="sample in collection | filter:search |filter:filtrar |orderBy:predicate:reverse" class="text-center">
		  		<td class="iTable">{{sample.itemCode | limitTo:17}}</td>
		  		<!-- <td class="iTable">{{sample.itemName}}</td> -->
		  		<td class="iTable" type="number">{{sample.itemAmount}}</td>
		  		<td class="iTable">{{sample.remainingAmount}}</td>
		  		
		  		<td class="iTable">{{sample.itemType}}</td>
		  		<td class="iTable">{{sample.itemName | limitTo:30}}</td>
		  		<!-- <td class="iTable">{{sample.itemUnits}}</td> -->		  				  		
		  		<td class="iTable">{{sample.itemBuyPrice}}</td>
		  		<td class="iTable">{{sample.itemProvider}}</td>

				<td ng-show="newBuyOrder" class="iTable" contentEditable="{{newBuyOrder}}" ng-model="sample.amountOrdered" type="number">0</td>
		  		<td ng-show="newBuyOrder" class="iTable"><input type="checkbox" ng-change="filterItemsToOrder()" ng-model="sample.order"></td>
	   		</tr>
    		</tbody>    
	</table>  
</md-card>