body,button, html, input, select, textarea {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 13px;
}
th{
	font-weight: 500;
	color:#757575;
	padding-top: 15px !important;

}
p:focus,i:focus{
	outline: none;
    border: 0;
}
td.iTable {
	padding: 15px 25px 15px 25px !important;
}
md-card {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	border-radius: 0;
}

md-input-container {
	height: 35px;
	margin: 12px 25px 12px 25px;
	
}
.headerHelp{
	height: 30px !important;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

md-sidenav {
	width: 280px;
}

.md-subheader {
	background-color: white;
}
.viewSubHeader{
	margin: 5px;
}
.listMenu{
	color:rgba(0,0,0,0.54);;
}
.headerProject:hover{
 cursor: pointer;
 font-weight: 900;
}
.link:hover{
cursor: pointer;
background-color: rgba(158,158,158,0.2);
}