<md-card id ="top">
<div layout="row" flex>

	<search-header flex></search-header>
	
	<span class="headerHelp listMenu">
		<p ng-click="newitem()">
		<i class="fa fa-plus fa-lg" ></i>
			<md-tooltip>
                 Create a New Item
            </md-tooltip>
		</p>
	</span>
	<span class="headerHelp listMenu">
		<p ng-click="newAssembly()">
			<i class="fa fa-cubes fa-lg"></i>
			<md-tooltip>
                 Create a New Assembly
            </md-tooltip>
		</p>
	</span>
	<span class="headerHelp listMenu">
			<p ng-click="startNewOrder=true">
                <i class="fa fa-filter fa-lg" aria-hidden="true" ng-click="amountsByProjects()"></i>
                <md-tooltip>
                  Filter by Projects
                </md-tooltip>
               </p>
      </span>
</div>
</md-card>


