<md-card id="top">
	<md-subheader  class="md-no-sticky">        
		<div layout="row" flex>
			<p class="viewSubHeader text-center"  layout="row" flex="80">
                <span flex>{{orderInfo.orderNumber}}</span>
                <span flex>{{orderInfo.orderProvider}}</span>
                <span flex>{{orderInfo.orderedItems.length}} Items</span>
                <span flex>{{orderInfo.orderCreationDate | date:"MM.dd.yyyy"}}</span>
                
            </p>
            <span flex></span>
                <!-- <p ng-show="insertObjInOrder" class="listMenu" layout="row" layout-align="center center" ng-click="insertItemInOrder()" flex ="15">
                    <i class="fa fa-upload text-success"></i> &nbsp; Insert Items
                </p> -->

	 			<p ng-hide="insertObjInOrder" class="viewSubHeader" ng-click="insertNewItemInOrder()"><i   class="fa fa-plus fa-lg" ></i>
                    <md-tooltip>
                 Insert Items 
                    </md-tooltip>
                </p>
	 
 		</div>
	</md-subheader>
<md-progress-linear md-mode="query" ng-disabled="progressBardisable"></md-progress-linear>

	<div ng-show="editObjInOrder || insertObjInOrder">
        <md-divider flex></md-divider>

        <div layout-padding >
        <br>
        <div layout="row" layout-wrap >

            <md-input-container>
                <label>Item Id (Bar Code)</label>
                <input type="text" ng-model="obj.itemCode">
            </md-input-container>

            <md-input-container  flex="30">
                <label>Item Name</label>
                <input type="text" ng-model="obj.itemName">
            </md-input-container>

            <md-input-container flex="10">
                <label>Amount</label>
                <input type="number" ng-model="obj.amountOrdered" ng-change="totalPrice()">
            </md-input-container>
            <md-input-container flex="15">
                <label>Unit Price</label>
                <input type="number" ng-model="obj.itemPrice" ng-change="totalPrice()">
            </md-input-container>

            <md-input-container flex="15">
                <label>total Price</label>
                <input type="number" ng-model="obj.totalPrice" ng-vlaue="">
            </md-input-container>
            <span flex></span>
            &nbsp;
          <!-- editing part -->
            <div ng-show="editObjInOrder" ng-hide="insertObjInOrder">
                <i  ng-click="updateItemInOrder(obj)" layout-padding class="fa fa-check-circle fa-2x text-success" >  
                </i>&nbsp; &nbsp; &nbsp;
            </div>
            <div ng-show="editObjInOrder" ng-hide="insertObjInOrder">
                <i  ng-click="editObjInOrder=false;closeForm()"  layout-padding class="fa fa-times fa-2x text-danger">                    
                </i>&nbsp; &nbsp; &nbsp;              
            </div>
            <!-- editing part -->
            <!-- inserting part -->
            <div ng-hide="editObjInOrder" ng-show="insertObjInOrder">
              <i  ng-click="createItemInOrder(obj)" layout-padding class="fa fa-check-circle fa-2x text-success" >  
            </i>&nbsp; &nbsp; &nbsp;
            </div>
            <div ng-hide="editObjInOrder" ng-show="insertObjInOrder">
              <i  ng-click="insertObjInOrder=false;closeForm()"  layout-padding class="fa fa-times fa-2x text-danger"></i>
              &nbsp; &nbsp; &nbsp;
            </div>
            <!-- inserting part -->
        
        </div>
    
  </div>

</div>

    

		</md-card>