<md-card layout="column" flex>
		<md-list flex>
               <!--  sub header de la seccion Projectos -->
                <md-subheader  class="md-no-sticky">       	
        		<div layout="row">
        			 <p flex class="headerProject" ng-click="projectQuery(0,'open')" id="top">Open Orders</p>
        			 <p flex class="headerProject" ng-click="projectQuery(0,'closed')">Closed Orders</p>
        			 <p ng-click="startNewProject=true">
                <i class="fa fa-plus fa-lg" ></i> 
                <md-tooltip>
                  Create a New Order
                </md-tooltip>
               </p>
        		</div>
        	   </md-subheader>
             <md-progress-linear md-mode="query" ng-disabled="progressBardisable"></md-progress-linear>
             <!--  sub header de la seccion Projectos -->
               <md-divider ></md-divider>
               <!-- Form To create a new project -->
               <div layout="column"  flex ng-show="startNewProject ||editProject"> <br>
                    <md-input-container >
                        <label>Project Name</label>
                        <input type="text" ng-model="obj.projectName">
                    </md-input-container>
                    <md-input-container >
                        <label>Project Number</label>
                        <input type="text" ng-model="obj.projectNumber">
                    </md-input-container>
                    <md-input-container >
                        <label>Project Type</label>
                        <input type="text" ng-model="obj.projectType">
                    </md-input-container>
                    <div layout="row" layout-margin flex> &nbsp; &nbsp; &nbsp;
                        <md-datepicker ng-model="obj.deadLine" md-placeholder="Dead Line" md-hide-icons="calendar" type="date" flex></md-datepicker>

                        <i ng-hide="editProject" ng-show="startNewProject" ng-click="createNewProject(obj)"  layout-margin class="fa fa-check-circle fa-2x text-success" >    
                        </i>
                        <i ng-hide="startNewProject" ng-show="editProject" ng-click="updateProject(obj)"  layout-margin class="fa fa-check-circle fa-2x text-success" >    
                        </i>
                        <i ng-hide="editProject" ng-show="startNewProject" ng-click="startNewProject=false" layout-margin   class="fa fa-times fa-2x text-danger"></i>
                        <i ng-hide="startNewProject" ng-show="editProject" ng-click="editProject=false" layout-margin   class="fa fa-times fa-2x text-danger"></i>
                        &nbsp; &nbsp;
                    </div>      

                </div>
                <!-- Form To create a new project -->
        	<md-divider ></md-divider>
        	


<md-list-item class="md-2-line" ng-repeat="order in orders" ng-click="showOrderDetails(order)">
<img src="icon.png" class="md-avatar" alt="" />
<div class="md-list-item-text" layout="column" > 
  <p>{{order.orderNumber}} - {{order.orderProvider}}</p>
  <p>{{order.orderedItems.length}} Items - {{order.orderCreationDate | date:"MM.dd.yyyy"}}</p> 
</div>

    <md-menu class="md-secondary">
    <md-button class="md-icon-button" aria-label="Open" ng-click="$mdOpenMenu($event)">
      <i class="listMenu fa fa-ellipsis-v fa-lg"aria-hidden="true"></i>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="editOrderObj(order)">
          Edit Order
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="deleteOrder(order)">
          Delete Order
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="closeOrder(order)">
          Close Order
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

 <md-divider ></md-divider>
</md-list-item>



	</md-card>