<md-card>
	<table class="table table-hover table-responsive panel">    
    		<thead>
	   		<tr class="table" >
		  		<th ng-repeat="(key, val) in headerO" style="cursor:pointer;" class="text-center">
		  			<p ng-click="order(key)">{{val}}</p>
		 		</th>
		  		          
	   		</tr>
    		</thead>

    		<tbody>
	   		<tr ng-repeat="sample in collectionO | filter:search | orderBy:predicate:reverse" class="text-center">
	   			<td class="iTable" ng-show="sample.isDelivered"><i class="fa fa-check-circle fa-lg text-success" > </i> </td>
	   				
	   			<td class="iTable" ng-hide="sample.isDelivered">
	   				<i ng-hide="sample.isDelivered" class="fa fa-times fa-lg text-danger"></i></td>
		  		<td class="iTable">{{sample.itemCode | limitTo:17}}</td>			  		
		  		<td class="iTable">{{sample.itemName | limitTo:30}}</td>
		  		<td class="iTable">{{sample.amountOrdered}}</td>
		  		<td class="iTable">{{sample.itemBuyPrice | number}}</td>
		  		<td class="iTable">{{sample.totalPrice | number | limitTo:4}}</td>

		 		<td class="iTable">
		 		 	<i class="fa fa-pencil-square-o" ng-click="editItemInOrder(sample)"></i>&nbsp;&nbsp;
			 		<i class="fa fa-trash" ng-click="deleteItemFromOrder(sample)"></i>
			 		
		  		</td>
	   		</tr>
    		</tbody>    
	</table>  
</md-card>