<md-card layout="column" flex>
		<md-list flex>
               <!--  sub header de la seccion Projectos -->
          <md-subheader  class="md-no-sticky">       	
        		<div layout="row">
        			 <p flex class="headerProject" ng-click="queryOrders(0,'open')" id="top">Open Orders</p>
        			 <p flex class="headerProject" ng-click="queryOrders(0,'closed')">Closed Orders</p>
        			 <p ng-click="startNewOrder=true">
                <i class="fa fa-filter fa-lg" aria-hidden="true" ng-click="filter=true"></i>
                <md-tooltip>
                  Filter by Provider
                </md-tooltip>
               </p>
        		</div>
            <div layout="row" flex ng-show="filter">              
                <md-input-container flex class="viewSubHeader"> 
                        <!-- <label>Filter By Provider</label>  -->
                        <md-select ng-model="joda" placeholder="Filter by Provider">            
                          <md-option ng-repeat="provider in providerList  " value="{{provider}}">
                            {{provider}}
                          </md-option>
                        </md-select>
                     </md-input-container>
                    <p class="viewSubHeader">
                      <i   ng-click="filter=false;joda=''" layout-margin   class="fa fa-times fa-lg"></i>
                    </p> 
            </div>
        	   </md-subheader>
             <md-progress-linear md-mode="query" ng-disabled="progressBardisable"></md-progress-linear>
             <!--  sub header de la seccion Projectos -->
               <md-divider ></md-divider>
               <!-- Form To create a new project -->
               <div layout="column"  flex ng-show="editOrder"> <br>
                    <md-input-container >
                        <label>Order Number</label>
                        <input type="text" ng-model="obj.orderNumber">
                    </md-input-container>
                    <md-input-container >
                        <label>Provider</label>
                        <input type="text" ng-model="obj.orderProvider">
                    </md-input-container>
                    <md-input-container  > 
                        <label>Order Status</label>
                        <md-select ng-model="obj.orderStatus">            
                          <md-option ng-repeat="status in statusList" value="{{status}}">
                            {{status}}
                          </md-option>
                        </md-select>
                     </md-input-container>

                    <div layout="row" flex>
                      <md-input-container> 
                        <label>Delivery Date</label>
                        <md-datepicker ng-model="obj.orderDeliveringDate" type="date" md-hide-icons="calendar"></md-datepicker>
                        </md-input-container>
                      
                        <i ng-hide="editOrder" ng-show="startNewOrder" ng-click="createNewProject(obj)"  layout-margin class="fa fa-check-circle fa-2x text-success" >    
                        </i>
                        <i ng-hide="startNewOrder" ng-show="editOrder" ng-click="updateOrder(obj)"  layout-margin class="fa fa-check-circle fa-2x text-success" >    
                        </i>
                        <i ng-hide="editOrder" ng-show="startNewOrder" ng-click="startNewOrder=false" layout-margin   class="fa fa-times fa-2x text-danger"></i>
                        <i ng-hide="startNewOrder" ng-show="editOrder" ng-click="editOrder=false" layout-margin   class="fa fa-times fa-2x text-danger"></i>
                        &nbsp; &nbsp;
                    </div>      

                </div>
                <!-- Form To create a new project -->
        	<md-divider ></md-divider>
        	


<md-list-item class="md-2-line" ng-repeat="order in orders | filter:{orderProvider:joda}" ng-click="showOrderDetails(order,$index)">
<img src="icon.png" class="md-avatar" alt="" />
<div class="md-list-item-text" layout="column" > 
  <p>{{order.orderNumber}} - {{order.orderProvider}} - {{order.orderStatus}}</p>
  <p>{{order.orderedItems.length}} Items - {{order.orderDeliveringDate | date:"MM.dd.yyyy"}}</p> 
</div>

    <md-menu class="md-secondary">
    <md-button class="md-icon-button" aria-label="Open" ng-click="$mdOpenMenu($event)">
      <i class="listMenu fa fa-ellipsis-v fa-lg"aria-hidden="true"></i>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="editOrderObj(order)">
          Edit Order
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="deleteOrder(order)">
          Delete Order
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="closeOrder(order)">
          Close Order
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

 <md-divider ></md-divider>
</md-list-item>



	</md-card>