<div flex layout="row" layout-fill>
	<md-card layout="column" flex="25">
		<md-list flex>
	<!--  sub header to show the current project -->
			<md-subheader  class="md-no-sticky link" ui-sref="app.Projects.Details({id:currentProject.projectNumber})">       	
				<div layout="row">
					<p flex class="text-center">{{currentProject.projectName | uppercase}}</p>
					<span flex class="text-center">{{currentProject.projectType | uppercase}}</span>
					<p flex class="text-center"> {{currentProject.projectNumber | uppercase}}</p>
				</div>
			</md-subheader>
	<!--  sub header to show the current project -->


	<md-divider ></md-divider>
	<md-divider ></md-divider>

		<md-list-item class="md-2-line"  ng-repeat="assembly in assemblies" ng-click="seeAssembliesDetails(assembly)" ui-sref="app.assemblyDetails({idAssembly:assembly.assemblyNumber})">
			<img src="icon.png" class="md-avatar" alt="" />
			<div class="md-list-item-text" layout="column">
				<p>{{assembly.assemblyName}}</p>
				<p>{{assembly.assemblyNumber}}</p>
			</div>

			<md-divider ></md-divider>
		</md-list-item>  
	</md-card>

<md-card layout="column" flex >
<!-- header to show the selected Assembly -->

<md-list flex>      	
	<md-list-item class="md-2-line">
				<img src="icon.png" class="md-avatar" alt="" />
				<div class="md-list-item-text" layout="column">
					<p layout="row" flex>
						<span flex>{{currentAssembly.assemblyName}}</span>
						<span flex>{{currentAssembly.assemblyItems.length}} Bauteile</span>
						<span >{{currentAssembly.completed |limitTo:4}} % Completed</span>
					</p>
					<p layout="row" flex>
						<span flex>{{currentAssembly.assemblyNumber}}</span>
						<span flex>{{currentAssembly.pendingToBeAssembled}} Wating to be Assembled</span>

					</p>
				</div>
	</md-list-item>
<md-list>
<md-divider ></md-divider>
<div layout="row" flex>
	
<md-input-container md-no-float flex>
		<md-icon><i class="fa fa-search fa-lg "></i></md-icon>
		<input type="text" ng-model="search" ng-model-options="{ debounce: 400 }" placeholder="look for a piece">
</md-input-container>

</div>
<md-divider ></md-divider>

<!-- header to show the selected Assembly -->

<div ng-show="editObjInAssemblyProject">
<md-divider flex></md-divider>

  <div layout-padding >
  <br>
    <div layout="row" layout-wrap>

      <md-input-container>
        <label>Item Id (Bar Code)</label>
        <input type="text" ng-model="obj.itemCode">
      </md-input-container>
      <md-input-container  flex="40">
        <label>Item Name</label>
        <input type="text" ng-model="obj.itemName">
      </md-input-container>

      <md-input-container flex="10">
        <label>Item Amount</label>
        <input type="number" ng-model="obj.itemAmount">
      </md-input-container>
          
      &nbsp;
      <!-- editing part -->
        <div ng-show="editObjInAssembly" ng-hide="insertObjInAssembly">
          <i  ng-click="updateItems()" layout-padding class="fa fa-check-circle fa-2x text-success" >  
        </i>&nbsp; &nbsp; &nbsp;
        </div>
        <div ng-show="editObjInAssembly" ng-hide="insertObjInAssembly">
          <i  ng-click="editObjInAssemblyProject=false"  layout-padding class="fa fa-times fa-2x text-danger"></i>
          &nbsp; &nbsp; &nbsp;
        </div>

    
    </div>
    
  </div>
<md-divider ></md-divider>
</div>


	<table class="table table-hover table-responsive panel">    
    		<thead>
	   		<tr class="table" >
	   			
		  		<th ng-repeat="(key, val) in header" style="cursor:pointer;" class="text-center">
		  			<p ng-click="order(key)">{{val}}</p>
		 		</th>
		  		<th class="text-center"><p>Handling</p></th>
		  		          
	   		</tr>
    		</thead>

    		<tbody>
    		<tr ng-repeat="sample in collection  | filter:search |filter:{itemAssembled:'!'} |orderBy:predicate:reverse" class="text-center">
    			
	   			<td ng-show="sample.itemAssembled===undefined"class="iTable"><i class="fa fa-times fa-lg text-danger"></i></td>
		  		<td class="iTable">{{sample.itemCode | limitTo:17}}</td>		  		
		  		<td class="iTable">{{sample.itemAmount}}</td>
		  		<td class="iTable">{{sample.itemName | limitTo:30}}</td>

		 		<td class="iTable">
		 		 	<i class="fa fa-pencil-square-o" ng-click="passObjToEdit(sample)"></i>&nbsp;&nbsp;
			 		<i class="fa fa-trash" ng-click=""></i>
			 		
		  		</td>
	   		</tr>
	  
	   		<tr ng-repeat="sample in collection | filter:search |filter:{itemAssembled:'true'} |orderBy:predicate:reverse" class="text-center">
				
	   			<td ng-show="sample.itemAssembled"class="iTable"><i class="fa fa-check-circle fa-lg text-success" > </td>
		  		<td class="iTable">{{sample.itemCode | limitTo:17}}</td>		  		
		  		<td class="iTable">{{sample.itemAmount}}</td>
		  		<td class="iTable">{{sample.itemName | limitTo:30}}</td>

		 		<td class="iTable">
		 		 	<i class="fa fa-pencil-square-o" ng-click="showObj(sample)"></i>&nbsp;&nbsp;
			 		<i class="fa fa-trash" ng-click=""></i>
			 		
		  		</td>
	   		</tr>
    		</tbody>    
	</table>  


</md-card>

</div>
