<div flex layout="row" flex>

    <assemblies-list-card layout="row"  flex ="25"></assemblies-list-card>

    <div layout="column" flex id="top">

        <assembly-details-header></assembly-details-header>

           <md-card ng-show="insertObjInAssembly" layout-margin>

			    <div layout="row">

			        <search-header flex></search-header>
			        
			        <p class="viewSubHeader" ng-show="insertObjInAssembly" ng-click="insertItemInAssembly()">
                    	<i layout-padding class="fa fa-floppy-o fa-2x text-primary"></i>
                    	<md-tooltip>
                        Insert Items 
                    	</md-tooltip>
                	</p>
			        <p class="viewSubHeader" ng-hide="editObjInAssembly" ng-show="insertObjInAssembly">
			              <i layout-padding  class="fa fa-times fa-2x text-danger" ng-click="abortToInsertItemsInAssembly()"></i>
			              &nbsp;
			        </p>

			    </div>

			    <table class="table table-hover table-responsive panel" ng-show="collection.length > 0">    
			            <thead>
			            <tr class="table" >
			                <th ng-repeat="(key, val) in header" style="cursor:pointer;" class="text-center">
			                    <p ng-click="order(key)">{{val}}</p>
			                </th>
			                <th ng-hide="createAssembly" class="text-center"><p>Handling</p></th>
			                <th ng-show="createAssembly" class="text-center"><p>{{itemsToInsert.length}} Selected</p></th>          
			            </tr>
			            </thead>

			            <tbody>
			            <tr ng-repeat="sample in collection | filter:search | orderBy:predicate:reverse" class="text-center">
			                <td class="iTable">{{sample.itemCode | limitTo:17}}</td>
			                <td class="iTable" contentEditable="true" ng-model="sample.itemAmount" type="number">{{sample.itemAmount}}</td>
			                <td class="iTable">{{sample.itemName | limitTo:30}}</td>                
			                <td ng-show="createAssembly"><input type="checkbox" ng-change="refreshFilter()" ng-model="sample.insert"></td>
			            </tr>
			            </tbody>    
			    </table>  
		    </md-card>

		<assembly-table></assembly-table>

	</div>
</div >