
<md-card id="top">
	<md-subheader  class="md-no-sticky">        
		<div layout="row" flex>
			<p class="viewSubHeader text-center"  layout="row" flex="80">
                <span flex>{{assemblyInfo.assemblyName}}</span>
                <span flex>{{assemblyInfo.assemblyNumber}}</span>
                <span flex>{{assemblyInfo.assemblyItems.length}} Bauteile</span>
                
            </p>
            <span flex></span>
                <p ng-show="insertObjInAssembly" class="listMenu" layout="row" layout-align="center center" ng-click="insertItemInAssembly()" flex ="15">
                    <i class="fa fa-upload text-success"></i> &nbsp; Insert Items
                </p>

	 			<p ng-hide="insertObjInAssembly" class="viewSubHeader" ng-click="newObj();loadFilter()"><i   class="fa fa-plus fa-lg" ></i>
                    <md-tooltip>
                 Insert Items 
                    </md-tooltip>
                </p>
	 
 		</div>
	</md-subheader>
<md-progress-linear md-mode="query" ng-disabled="progressBardisable"></md-progress-linear>
	<div ng-show="editObjInAssembly">
        <md-divider flex></md-divider>

        <div layout-padding >
        <br>
        <div layout="row" layout-wrap >

            <md-input-container>
                <label>Item Id (Bar Code)</label>
                <input type="text" ng-model="obj.itemCode">
            </md-input-container>

            <md-input-container  flex="40">
                <label>Item Name</label>
                <input type="text" ng-model="obj.itemName">
            </md-input-container>

            <md-input-container flex="10">
                <label>Item Amount</label>
                <input type="number" ng-model="obj.itemAmount">
            </md-input-container>
              
            &nbsp;
          <!-- editing part -->
            <div ng-show="editObjInAssembly" ng-hide="insertObjInAssembly">
                <i  ng-click="updateItemInAssembly(obj)" layout-padding class="fa fa-check-circle fa-2x text-success" >  
                </i>&nbsp; &nbsp; &nbsp;
            </div>
            <div ng-show="editObjInAssembly" ng-hide="insertObjInAssembly">
                <i  ng-click="editObjInAssembly=false;closeForm()"  layout-padding class="fa fa-times fa-2x text-danger">                    
                </i>&nbsp; &nbsp; &nbsp;              
            </div>
            <!-- editing part -->
            <!-- inserting part -->
            <div ng-hide="editObjInAssembly" ng-show="insertObjInAssembly">
              <i  ng-click="insertItemInAssembly(obj)" layout-padding class="fa fa-check-circle fa-2x text-success" >  
            </i>&nbsp; &nbsp; &nbsp;
            </div>
            <div ng-hide="editObjInAssembly" ng-show="insertObjInAssembly">
              <i  ng-click="insertObjInAssembly=false;closeForm()"  layout-padding class="fa fa-times fa-2x text-danger"></i>
              &nbsp; &nbsp; &nbsp;
            </div>
            <!-- inserting part -->
        
        </div>
    
  </div>

</div>
    <div ng-show="insertObjInAssembly">

    <search-header flex></search-header>

    <table class="table table-hover table-responsive panel">    
            <thead>
            <tr class="table" >
                <th ng-repeat="(key, val) in header" style="cursor:pointer;" class="text-center">
                    <p ng-click="order(key)">{{val}}</p>
                </th>
                <th ng-hide="createAssembly" class="text-center"><p>Handling</p></th>
                <th ng-show="createAssembly" class="text-center"><p>{{itemsToInsert.length}} Selected</p></th>          
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="sample in collection | filter:search | orderBy:predicate:reverse" class="text-center">
                <td class="iTable">{{sample.itemCode | limitTo:17}}</td>
                <td class="iTable" contentEditable="true" ng-model="sample.itemAmount" type="number">{{sample.itemAmount}}</td>
                <td class="iTable">{{sample.itemName | limitTo:30}}</td>                
                <td ng-show="createAssembly"><input type="checkbox" ng-change="refreshFilter()" ng-model="sample.insert"></td>
            </tr>
            </tbody>    
    </table>  
    </div>
    

		</md-card>