<md-card>
	<table class="table table-hover table-responsive panel">    
    		<thead>
	   		<tr class="table" >
		  		<th ng-repeat="(key, val) in header" style="cursor:pointer;" class="text-center">
		  			<p ng-click="order(key)">{{val}}</p>
		 		</th>
		  		<th class="text-center"><p>Handling</p></th>
		  		          
	   		</tr>
    		</thead>

    		<tbody>
	   		<tr ng-repeat="sample in collectionA |filter:search |filter:{subAssemblyNumber:filterSubAssembly.subAssemblyNumber} | orderBy:predicate:reverse" class="text-center">
		  		<td class="iTable">{{sample.itemCode | limitTo:17}}</td>		  		
		  		<td class="iTable">{{sample.itemAmount}}</td>
		  		<td class="iTable">{{sample.itemName | limitTo:30}}</td>

		 		<td class="iTable">
		 		 	<i class="fa fa-pencil-square-o" ng-click="editObj(sample)"></i>&nbsp;&nbsp;
			 		<i class="fa fa-trash" ng-click="deleteItemFromAssembly(sample)"></i>
			 		
		  		</td>
	   		</tr>
    		</tbody>    
	</table>  
</md-card>